<div class="bg-gray-800">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-center text-base leading-6 text-gray-400 flex">
        <a href="https://twitter.com/andrewmcodes?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @andrewmcodes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://ghbtns.com/github-btn.html?user=andrewmcodes&type=follow&count=true" class="ml-2" frameborder="0" scrolling="0"></iframe>
      </p>
    </div>
  </div>
</div>
